/* Stylizacje globalne */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    position: relative; /* Dodaj, by pseudoelement działał poprawnie */
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Przyciemnienie całego tła */
    z-index: 0; /* Warstwa poniżej treści */
}

.content {
    text-align: center;
    padding: 20px;
    position: relative; /* Aby treść była nad overlayem */
    z-index: 1; /* Ustaw, by była nad przyciemnieniem */
}

h1 {
    font-size: 3rem; 
    font-weight: bold;
    letter-spacing: 2px; 
}

.center-image {
    max-width: 250px; /* Adjust the size as needed */
    margin-top: 350px; /* Increase this value to push the image further down */
    display: block;
}


