body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    background-color: rgba(0, 0, 0, 0.5); /* Przyciemnia tło */
    padding: 20px 40px;
    border-radius: 10px;
}
